.contacts {
  position: relative;
  margin: 0 auto;
  padding-top: 45px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 6px;
    background-image: url("../img/svg/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 90%;
  }

  @media (min-width: $tablet-width) {
    padding-top: 80px;

    &::before {
      width: 100%;
      height: 15px;
      background-size: auto 15px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    min-height: 305px;
    margin-bottom: 108px;
    padding-top: 148px;

    &::before {
      top: -11px;
      height: 23px;
      width: 1050px;
      background-size: auto 21px;
      background-position: 28px;
    }
  }
}

.contacts__table {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 10px;
  color: $greyish-brown;

  @media (min-width: $tablet-width) {
    width: 670px;
    margin: 0 auto;
    margin-bottom: 30px;

    tbody {
      display: flex;
    }
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    margin-left: 175px;
    margin-bottom: 47px;

    tbody {
      display: table;
      width: 350px;
    }
  }
}

.contacts__row {
  padding-top: 5px;
}

.contacts__table th,
.contacts__table td {
  padding-bottom: 25px;
  line-height: 2em;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 1.76em;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 28px;
  }
}

.contacts__title {
  width: 78px;
  font-weight: 300;
  text-align: left;
  vertical-align: top;

  @media (min-width: $tablet-width) {
    width: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 67px;
  }
}

.contacts__value {
  @media (min-width: $tablet-width) {
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  &--email {
    a {
      padding-bottom: 5px;
      text-decoration: none;
      border-bottom: 1px solid $mint;
      color: $greyish-brown;

      &:hover {
        color: $mint;
      }

      &:active {
        color: $mint;
        opacity: 0.3;
      }
    }
  }

  &--address {
    @media (min-width: $tablet-width) {
      padding-left: 5px;
      padding-bottom: 5px;
      padding-right: 0;
    }
  }
}

.contacts__map-wrapper {
  position: relative;
  display: block;
  width: 100vw;
  max-width: 100%;
  height: 457px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #f5ead8;
  background-image: url("../img/map-mobile@1x.jpg");
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 80px;
    right: 0;
    margin-bottom: 0;
    width: 525px;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
