.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  &--about-us {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 6px;
      background-image: url("../img/svg/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: auto 6px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        height: 15px;
        background-size: auto 15px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        top: -12px;
        height: 23px;
        width: 1050px;
        background-size: auto 21px;
        background-position: 28px;
      }
    }
  }
}
