.header {
  position: relative;
  min-height: 80px;
  margin: 0 auto;
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: auto;
    min-height: 90px;

    &::after {
      content: "";
      position: absolute;
      bottom: 51px;
      width: 100%;
      height: 1px;
      background-color: #ececec;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1150px;

    &::after {
      bottom: 19px;
    }
  }
}
