@media (max-width: $mobile-width-only) {
  .menu {
    position: relative;
    width: 320px;
    margin: 0 auto;

    &--nojs .menu__toggle {
      display: none;
    }

    &--nojs .menu__list {
      display: flex;
    }
  }
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  flex-direction: column;
  justify-content: space-between;

  &--opened {
    display: flex;
  }
}

.menu__item {
  padding: 28px 0;
  border-bottom: 1px solid #ececec;
  vertical-align: middle;

  &:first-child {
    border-top: 1px solid #ececec;
  }

  &:last-child {
    border-bottom: 1px solid #ececec;
  }

  a {
    padding-left: 75px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.41em;
    text-decoration: none;
    color: #000000;

    &:hover {
      color: rgba(0, 0, 0, 0.6);

      svg {
        fill: $mint;
      }
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);

      svg {
        fill: $mint;
        opacity: 0.3;
      }
    }
  }
  &--info,
  &--desktop {
    display: none;
  }
}

.menu__toggle {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--open {
    top: 32px;
    right: 30px;
    width: 20px;
    height: 14px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      right: 0;
      width: 20px;
      height: 2px;
      background-color: #000000;
    }
  }

  &--close {
    top: 30px;
    right: 30px;
    width: 21px;
    height: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 29px;
      height: 2px;
      background-color: #000000;
      border-radius: 1px;
    }

    &::before {
      right: -3px;
      transform: rotate(45deg);
    }

    &::after {
      right: -4px;
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: $tablet-width) {
  .menu {
    width: 670px;
    margin: 0 auto;
  }

  .menu__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    a {
      padding: 0;
      border: none;
      font-size: 15px;
    }
  }

  .menu__item {
    padding: 0;
    width: 165px;

    &:last-child {
      border: none;
    }

    &--search,
    &--cart {
      order: -1;

      a {
        position: relative;
        display: block;
      }
    }

    &--catalog,
    &--order {
      padding-top: 19px;
    }

    &--search {
      width: 82px;
      margin-left: 320px;
      padding: 0;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;

      a {
        width: 82px;
        height: 88px;
        font-size: 0;
      }
    }

    &--cart {
      width: 265px;
      height: 90px;
      margin: 0;
      font-size: 17px;
      text-align: right;

      a {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 17px;
      }
    }

    &--catalog {
      margin-left: 0;
      margin-right: 5px;
    }

    &--info {
      display: inline-flex;
      width: 231px;
      margin-left: auto;
      border: none;

      p {
        margin-top: 20px;
      }
    }
  }

  .menu__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    width: 1050px;
  }

  .menu__item {
    width: 234px;
    height: 90px;
    padding: 0;

    &--search {
      width: 82px;
      order: 0;
      margin-left: 247px;
    }

    &--cart {
      width: 264px;
      order: 0;
    }

    &--info {
      height: 0;
      margin-top: 20px;
      margin-right: -4px;

      p {
        margin: 0;
      }
    }

    &--catalog {
      width: 185px;
      margin-left: 0;
      border: none;

      a {
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 17px;
        line-height: 1.41em;
      }
    }

    &--order {
      padding-left: 30px;
      border: none;

      a {
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 17px;
        line-height: 1.41em;
      }
    }

    &--new {
      width: 185px;
      border: none;
    }

    &--sale {
      margin-left: 35px;
    }

    &--desktop {
      display: inline-flex;
      height: 0;
      padding-top: 15px;
    }
  }
}
