.section-title {
  display: block;
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2em;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    font-size: 43px;
    line-height: 1.16em;
  }

  &--week-article {
    @media (min-width: $desktop-width) {
      width: 880px;
      margin-left: auto;
      font-size: 53px;
      line-height: 1em;
    }
  }

  &--about-us {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      font-size: 53px;
      line-height: 1em;
    }
  }

  &--feedback {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
      font-size: 53px;
      line-height: 1em;
      margin-left: 175px;
    }
  }

  &--contacts {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 18px;

    @media (min-width: $tablet-width) {
      position: relative;
      width: 670px;
      margin: 0 auto;
      margin-bottom: 40px;
      font-size: 43px;
      line-height: 1.16em;

      &::after {
        content: "";
        position: absolute;
        top: -16px;
        right: 0;
        width: 47px;
        height: 81px;
        background-image: url("../img/svg/icon-flag.svg");
      }
    }

    @media (min-width: $desktop-width) {
      width: auto;
      font-size: 53px;
      line-height: 1em;
      margin: 0;
      padding-left: 167px;
      margin-bottom: 48px;

      &::after {
        top: -6px;
        left: 63px;
      }
    }
  }
}
