.title-wrapper {
  display: block;
  height: 175px;
  margin-bottom: 0;
  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    height: 195px;
    padding-top: 40px;
    margin-top: -42px;
    margin-bottom: 70px;
    background-image: url("../img/svg/bg-zigzag-fill.svg");
    background-size: auto 23px;
    background-position: bottom;
    background-position-x: -4px;
    background-repeat: repeat-x;
  }

  @media (min-width: $desktop-width) {
    height: 255px;
    margin-top: 0;
    padding-top: 0;
  }

  &--home {
    height: auto;
    margin: 0;
    background: none;
    z-index: 2;
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      margin-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 130px;
    }
  }

  &--form {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 62px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -22px;
      margin-bottom: 119px;
    }
  }
}
