.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.about-us__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
}

.about-us__feature {
  padding-top: 50px;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.17em;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-top: 60px;
    margin-bottom: 80px;
  }

  .about-us__feature {
    width: 335px;
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding-top: 70px;
    padding-bottom: 85px;
  }
}
