.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    padding-top: 85px;
  }
}

.about-us__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    height: 450px;
  }

  @media (min-width: $desktop-width) {
    height: 465px;
  }
}

.about-us__feature {
  /*padding-top: 50px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90px;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.17em;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 300px;
    min-height: 100px;
    padding: 0;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    font-size: 20px;
    line-height: 1.1em;
  }
}

.about-us__feature svg {
  fill: $mint;
}
