@import "../variables.scss";

.btn {
  display: block;
  width: auto;
  border: 2px solid $greyish-brown;
  padding: 15px 0;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.17em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $greyish-brown;
  cursor: pointer;

  &--week-art {
    @media (min-width: $desktop-width) {
      width: 290px;
    }
  }

  &--write-us {
    width: 256px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &--send-order {
    width: 258px;
    margin-bottom: 55px;
    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .btn {
    &--feedback {
      position: absolute;
      top: 80px;
      right: 0;
      padding: 15px 40px;
    }

    &--write-us {
      margin-bottom: 60px;
    }

    &--order {
      width: 585px;
      margin-bottom: 45px;
    }

    &--send-order {
      margin: 0;
      order: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .btn {
    width: 230px;

    &--write-us {
      margin: 0;
      margin-left: 175px;
    }
  }
}
