@import "../variables.scss";

.btn {
  display: block;
  width: auto;
  border: 2px solid $greyish-brown;
  padding: 15px 0;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.17em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $greyish-brown;
  cursor: pointer;

  &:hover {
    background-color: $greyish-brown;
    color: #ffffff;
  }

  &:active {
    background-color: $greyish-brown;
    color: rgba(255, 255, 255, 0.3);
  }

  @media ($desktop-width) {
    width: 230px;
  }

  &--week-art {
    @media (min-width: $desktop-width) {
      width: 290px;
    }
  }

  &--feedback {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 80px;
      right: 0;
      padding: 15px 40px;
    }
  }

  &--write-us {
    width: 256px;
    margin: 0 auto;
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      width: 230px;
      margin: 0;
      margin-left: 175px;
    }
  }

  &--send-order {
    width: 258px;
    margin-bottom: 55px;
    background-color: transparent;

    @media (min-width: $tablet-width) {
      width: 230px;
      margin: 0;
      order: -1;
    }
  }

  &--order {
    width: 190px;
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      width: 585px;
      margin-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      width: 230px;
      margin-bottom: 63px;
    }
  }
}
