@import "../variables.scss";

.categories__item {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.26em;
  text-decoration: none;
  color: #ffffff;

  &--accessories {
    background-color: $mint;
  }

  &--toys {
    background-color: $darker-mint;
  }
}
