.categories {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 670px;
    flex-direction: row;
    margin: 0 auto;
  }
}

.categories__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 25px 30px;

  &--accessories {
    background-color: $mint;
  }

  &--toys {
    background-color: $darker-mint;
  }

  @media (min-width: $tablet-width) {
    width: 335px;
    padding-top: 30px;
    padding-left: 35px;
  }
}

.categories__item {
  width: 260px;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.26em;
  text-decoration: none;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 265px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: 1050px;
  }

  .categories__item-wrapper {
    width: 525px;
  }

  .categories__item {
    width: 455px;
  }
}
