@import "../variables.scss";

.contacts {
  margin: 0 auto;
  padding-top: 45px;

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1050px;
    min-height: 305px;
    margin-bottom: 105px;
    padding-top: 70px;
  }
}

.contacts__table {
  width: 260px;
  margin: 0 auto;
  color: $greyish-brown;

  @media (min-width: $tablet-width) {
    tbody {
      display: flex;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;

    tbody {
      display: table;
    }
  }
}

.contacts__table th,
.contacts__table td {
  padding-bottom: 40px;
}

.contacts__title {
  width: 78px;
  font-weight: 300;
  text-align: left;
  vertical-align: top;
}

.contacts__value {
  &--email a {
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 1px solid $mint;
    color: $greyish-brown;
  }

  @media (min-width: $tablet-width) {
    padding-right: 55px;
  }
}

.contacts__map-wrapper {
  display: block;
  width: 320px;
  height: 457px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #f5ead8;
  background-image: url("../img/map-mobile@1x.jpg");

  @media (min-width: $tablet-width) {
    width: 768px;
    background-image: url("../img/map-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    background-image: url("../img/map-desktop@1x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 70px;
  }

  .contacts__table {
    width: 670px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts__table {
    width: 300px;
    margin-left: 175px;
    margin-bottom: 55px;
  }

  .contacts__map-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
  }
}
