@import "../variables.scss";

.contacts {
  padding-top: 45px;
}

.contacts__table {
  margin-bottom: 40px;
  color: $greyish-brown;
}

.contacts__value {
  &--email {
    text-decoration: none;
    border-bottom: 1px solid $mint;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 70px;
  }

  .contacts__table {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 155px;
    margin-bottom: 105px;
  }
}
