@import "../variables.scss";

.contacts {
  padding-top: 45px;
}

.contacts__table {
  margin-bottom: 40px;
  color: $greyish-brown;
}

.contacts__value {
  &--email {
    text-decoration: none;
    border-bottom: 1px solid $mint;
  }
}

@media (min-width: $tablet-width) {
  .contacts__table {
    display: flex;
  }
}
