@import "../variables.scss";

.copyright {
  padding-top: 25px;
  padding-bottom: 30px;
}

.copyright__text {
  width: 180px;
  margin: 0 auto;
  font-size: 19px;
  font-weight: 700;
  line-height: 0.94em;
}

.copyright__link {
  display: inline-flex;
  width: 27px;
  height: 34px;
  outline: 1px solid $mint;
}
