@import "../variables.scss";

.description {
  &--form {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 1.84em;
    color: $greyish-brown;

    @media (min-width: $tablet-width) {
      width: 670px;
      margin-bottom: 70px;
    }
  }
}
