@import "../variables.scss";

.description {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 1.84em;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .description {
    width: 670px;
  }
}
