@import "../variables.scss";

.description {
  &--form {
    width: 260px;
    margin: 0 auto;
    margin-bottom: 26px;
    font-size: 13px;
    line-height: 1.84em;
    color: $greyish-brown;

    @media (min-width: $tablet-width) {
      width: 670px;
      margin-bottom: 70px;
      font-size: 17px;
      line-height: 1.76em;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
      margin-bottom: 72px;
    }
  }
}
