.form {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  input {
    font-family: $main-font;
  }
}

.form__field {
  padding: 0;
  margin-bottom: 30px;
  border: none;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    left: 0;
    width: 500px;
    padding-left: 167px;
    margin: 0 auto;

    &--fullname {
      top: 33px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 0;
    width: 1050px;
    padding: 0;
  }

  &--color {
    margin-bottom: 3px;

    @media (min-width: $tablet-width) {
      left: 20px;
      padding-left: 175px;
    }
  }

  &--type,
  &--fullname {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &--fullname {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 75px;
    }
  }

  &--type {
    margin-bottom: 24px;

    @media (min-width: $desktop-width) {
      margin-bottom: 8px;
    }
  }

  &--fullname {
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .form__txt {
        width: 375px;
        padding-left: 18px;
        margin-bottom: 25px;

        &:first-of-type {
          width: 425px;
        }
      }
    }

    @media (min-width: $desktop-width) {
      width: 700px;
      margin-bottom: 19px;

      .form__txt {
        width: 555px;
        padding-left: 20px;
        margin-bottom: 21px;

        &:first-of-type {
          width: 608px;
        }
      }
    }

    .form__label {
      padding-left: 0;
    }
  }

  &--phone {
    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
      margin-bottom: 0;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }

  &--submit {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 670px;
      padding: 0;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }

  &--addition {
    height: 175px;
    
    @media (min-width: $tablet-width) {
      height: auto;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 30px;
    }
  }
}

.form__field-title {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 0.94em;
  color: $mint;
  text-transform: uppercase;
  width: 260px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  @media (min-width: $desktop-width) {
    left: 60px;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    width: 200px;
    height: 1px;
    background-color: $mint;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--type {
    margin-bottom: 34px;
  }

  &--color {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      top: 0;
      left: 10px;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      margin-bottom: 0;
    }
  }

  &--fullname {
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      top: 8%;
    }

    @media (min-width: $desktop-width) {
      width: auto;
      top: 18px;
      left: -116px;
    }
  }

  &--phone,
  &--email {
    top: 50%;
  }

  &--addition {
    margin-bottom: 20px;
  }
}

.form__radio {
  &:checked + .form__label--radio::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $mint;

    @media (min-width: $desktop-width) {
      width: 20px;
      height: 20px;
    }
  }
}

.form__check-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    width: 550px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    min-height: 130px;
    margin-left: 175px;
  }
}

.form__check {
  &:checked + .form__label--check::before {
    background-image: url("../img/svg/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
  }
}

.form__label {
  position: relative;
  padding-left: 60px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 1em;
  }

  &--radio,
  &--check {
    @media (min-width: $tablet-width) {
      padding-left: 80px;
    }

    @media (min-width: $desktop-width) {
      width: 180px;
      padding-left: 80px;
    }

    &:hover {
      &::before {
        border-color: $mint;
      }
    }

    &:active {
      &::before {
        border-color: opacify($greyish-brown, 0.3);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      left: -1px;
      width: 34px;
      height: 34px;
      border: 2px solid $greyish-brown;

      @media (min-width: $tablet-width) {
        top: -13px;
        left: -1px;
        width: 48px;
        height: 48px;
      }

      @media (min-width: $desktop-width) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &--radio {
    margin-bottom: 20px;

    &::before {
      border-radius: 50%;

      @media (min-width: $desktop-width) {
        top: -16px;
        left: -1px;
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 55px;
    }
    
    @media (min-width: $desktop-width) {
      width: auto;
      margin-left: 175px;
      margin-bottom: 58px;
    }
  }

  &--check {
    margin-bottom: 41px;

    &::before {
      top: -9px;
    }

    @media (min-width: $tablet-width) {
      width: 180px;
      margin-bottom: 55px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 58px;
    }
  }

  &--fullname {
    padding-left: 0;
  }

  &--txt {
    @media (min-width: $tablet-width) {
      top: -11px;
    }
  }

  &--phone,
  &--email {
    position: relative;
    display: block;
    width: 260px;
    padding: 0;
    color: $mint;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      position: absolute;
      width: auto;
      top: 21%;
      left: 0;
      font-size: 17px;
      line-height: 1em;
    }

    @media (min-width: $desktop-width) {
      left: -115px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      height: 1px;
      background-color: $mint;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--phone {
    &::after {
      width: 200px;
    }
  }

  &--email {
    &::after {
      width: 179px;
    }
  }

  &--addition {
    position: relative;
    display: block;
    width: 260px;
    padding: 0;
    margin-bottom: 23px;
    color: $mint;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 200px;
      height: 1px;
      background-color: $mint;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      left: -155px;
      width: auto;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      top: -126px;
      left: 62px;
      width: auto;
      font-size: 17px;
      line-height: 1em;
    }
  }
}

.form__txt {
  width: 256px;
  height: 52px;
  margin-bottom: 19px;
  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;
  font-size: 17px;
  line-height: 1em;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 1em;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 0 $mint;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &::placeholder {
    color: $grey-placeholder;
  }

  &:hover + .icon,
  &:focus + .icon {
    fill: $mint;
  }
}

.form__input-wrapper {
  position: relative;

  .icon {
    position: absolute;
    top: 15%;
    right: 0;
    fill: $grey-placeholder;
    
    &--phone {
      top: 16px;
      right: 10px;

      @media (min-width: $tablet-width) {
        right: 8px;
      }
    }

    &--mail {
      top: 15px;
      right: 6px;

      @media (min-width: $tablet-width) {
        right: 5px;
      }
    }
  }
}

.form__contacts {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-color: $background-grey;

    .form__txt {
      width: 480px;
      padding-left: 20px;
      background-color: $background-grey;

      &::placeholder {
        color: rgba(68, 68, 68, 0.3);
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 30px;

    .form__txt {
      width: 680px;
      margin-bottom: 21px;
    }
  }
}

.form__textarea {
  width: 236px;
  height: 122px;
  padding-top: 18px;
  padding-left: 17px;
  border: 2px solid #000000;
  font-family: $main-font;
  font-size: 17px;
  line-height: 1em;
  
  @media (min-width: $tablet-width) {
    width: 500px;
    height: 140px;
    padding-top: 15px;
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 682px;
    height: 124px;
    display: block;
    margin: 0 auto;
  }

  &:hover,
  &:focus {
    border-color: $mint;
  }

  &::placeholder {
    color: $grey-placeholder;
  }
}

.form__notification {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.14em;
  color: $greyish-brown;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.form__field-wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 9px;
    margin-bottom: 20px;
    background-color: $background-grey;
  }
}
