@import "../variables.scss";

.logo {
  display: block;
  text-align: center;

  &--header {
    padding: 22px 0;
  }

  &--footer {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    &--header {
      position: absolute;
      top: 22px;
      height: 46px;
      padding: 0;
    }

    &--footer {
      display: block;
      height: 34px;
      margin-top: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    &--header {
      height: 72px;
    }

    &--footer {
      display: block;
      height: 34px;
    }
  }
}
