@import "../variables.scss";

.logo {
  display: block;
  text-align: center;

  &--header {
    padding: 22px 0;
  }
  
  &--footer {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    &--header {
      height: 46px;
    }

    &--footer {
      display: block;
      height: 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    &--header {
      height: 72px;
    }

    &--footer {
      display: block;
      height: 34px;
    }
  }
}
