@import "../variables.scss";

.menu {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.menu__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.menu__list {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--bottom {
    display: none;
  }
}

.menu__item {
  padding: 28px 0;
  border-top: 1px solid #ececec;
  vertical-align: middle;

  &:last-child {
    border-bottom: 1px solid #ececec;
  }
}

.menu__item a { /*---нужно заменить миксином или сделать элементом---*/
  padding-left: 75px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41em;
  text-decoration: none;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .menu {
    width: 640px;
    margin: 0 auto;
  }

  .menu__list {
    flex-direction: row;
    flex-wrap: wrap;

    .menu__item {
      &:first-child {
        order: 3;
      }

      &:nth-child(2) {
        order: 4;
      }

      &--search {
        width: 85px;
        height: 90px;
        outline: 1px solid darkgrey;
      }

      &--cart {
        width: 265px;
        text-align: right;
      }
    }

    .menu__item--search a {
      font-size: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu {
    width: 1050px;
    margin: 0 auto;
  }

  .menu__list {
    &--bottom {
      position: absolute;
      top: 90px;
      display: flex;
      justify-content: space-between;
    }
  }
}
