@import "../variables.scss";

.menu {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.menu__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.menu__list {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__item {
  padding: 28px 0;
  border-top: 1px solid #ececec;
  vertical-align: middle;

  &--desktop,
  &--info {
    display: none;
  }

  &--info p {
    margin: 0;
  }

  &:last-child {
    border-bottom: 1px solid #ececec;
  }
}

.menu__item a { /*---нужно заменить миксином или сделать элементом---*/
  padding-left: 75px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41em;
  text-decoration: none;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .menu {
    width: 670px;
  }

  .menu__list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    .menu__item {
      padding: 0;
      padding-top: 20px;
      width: 165px;

      &--search {
        order: -1;
        width: 85px;
        height: 90px;
        margin-left: 320px;
        padding: 0;
        outline: 1px solid darkgrey;
      }

      &--cart {
        order: -1;
        width: 265px;
        height: 90px;
        padding: 0;
        font-size: 17px;
        text-align: right;
        outline: 1px solid darkgrey;
      }

      &--info {
        display: inline-flex;
        margin-left: auto;
      }
    }

    .menu__item a {
      padding: 0;
      font-size: 15px;
    }

    .menu__item--search a {
      font-size: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu {
    width: 1050px;
  }

  .menu__list {
    .menu__item {
      width: 235px;
      height: 90px;
      padding: 0;
      outline: 1px solid orchid;

      &--search {
        width: 85px;
        order: 0;
        margin-left: 260px;
      }

      &--cart {
        order: 0;
      }

      &--info {
        height: 0;
        padding-top: 20px;
      }

      &--desktop {
        display: inline-flex;
        height: 0;
        padding-top: 20px;
      }
    }
  }
}
