.modal {
  display: none;

  &--show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.modal__frame {
  &--size {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 320px;
    min-height: 336px;
    box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
    border: solid 1px #c6c6c6;
    transform: translate(-50%, -50%);
    z-index: 110;
    background-color: #ffffff;

    @media ($mobile-width-only) {
      left: 0;
    }
    
    @media (min-width: $tablet-width) {
      width: 570px;
      min-height: 337px;
    }
  }
}

.modal__title {
  width: 150px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 354px;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 1.9em;
  }
}

.modal__info {
  margin: 0 auto;
  margin-bottom: 25px;
  line-height: 2em;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 1.76em;
  }
}

.modal__form {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 350px;
    margin-bottom: 45px;
  }
}

.modal__input-wrapper {
  width: 260px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 350px;
  }
}

.modal__radio {
  &--size:checked + .modal__label {
    border: 2px solid $mint;
  }
}

.modal__label {
  &--size {
    width: 80px;
    margin-right: 9px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #ececec;
    font-size: 17px;
    font-weight: 700;
    line-height: 1em;
    color: $greyish-brown;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      width: 110px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border: 2px solid #c7c7c7;
    }

    &:active {
      border: 2px solid $mint;
    }
  }
}

.modal__submit {
  width: 260px;
  height: 52px;
  padding: 0;
  border: none;
  background-color: $mint;
  font-size: 17px;
  font-weight: 700;
  line-height: 1em;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 350px;
  }
}
