.page-title {
  display: block;
  margin: 0 auto;
  padding-top: 72px;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.1em;
  text-align: center;
  vertical-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 1.16em;
  }

  &--home {
    padding-top: 75px;

    @media (min-width: $tablet-width) {
      width: 495px;
      padding-top: 160px;
    }

    @media (min-width: $desktop-width) {
      width: 605px;
    }
  }
}
