@import "../variables.scss";

.page-title {
  display: block;
  margin: 0;
  background-color: $background-grey;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.1em;
}

.page-title--home {
  background-image: url("../../img/hero-mobile@1x.jpg");
}
