@import "../variables.scss";

.section-title {
  display: block;
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2em;

  &__contacts {
    margin-bottom: 35px;
    font-size: 18px;
  }
}
