@import "../variables.scss";

.section-title {
  display: block;
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2em;

  &--contacts {
    margin-bottom: 35px;
    font-size: 18px;
  }
}

@media (min-width: $tablet-width) {
  .section-title {
    &--about-us {
      margin-bottom: 40px;
    }

    &--feedback {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .section-title {
    &--week-article {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
