.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  border-bottom: 1px solid #e5e5e5;
}
