@import "../variables.scss";

.video-material {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 60px;
  border: 1px solid #ececec;
}

.video-material__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41em;
}

.video-material__description {
  font-size: 13px;
  line-height: 1.84em;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .video-material {
    position: relative;
    width: 668px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .video-material__title {
    padding-left: 105px;
  }

  .video-material__img-video {
    order: -1;
  }

  .video-material__btn-play {
    position: absolute;
    top: 190px;
    left: 0;
    right: 0;
    width: 100px;
    height: 80px;
    margin: 0 auto;
  }

  .video-material__description {
    width: 585px;
    margin: 0 auto;
    margin-left: 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .video-material {
    width: 1050px;
  }

  .video-material__title,
  .video-material__description {
    margin: 0;
  }

  .video-material__title {
    position: absolute;
    right: 95px;
    width: 200px;
    margin-top: 45px;
    padding: 0;
    padding-top: 50px;
  }

  .video-material__desc-wrapper {
    position: absolute;
    top: 180px;
    right: 70px;
    width: 230px;
  }

  .video-material__description {
    width: 230px;
    margin-bottom: 50px;
  }
}
