@import "../variables.scss";

.week-article {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.week-article__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.week-article__subtitle {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.17em;
  text-transform: uppercase;
  color: $mint;
}

.week-article__description-txt,
.week-article__characteristics {
  line-height: 1.6em;
  color: $greyish-brown;
}

.week-article__description-txt {
  margin-bottom: 25px;
}

.week-article__characteristics {
  margin-bottom: 30px;
}

.week-article__img {
  margin-bottom: 25px;
}

.week-article__price {
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41em;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .week-article {
    position: relative;
    width: 670px;
    padding-top: 50px;
    padding-bottom: 65px;
  }

  .week-article__header {
    width: 670px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .week-article__subtitle {
    width: 70px;
  }

  .week-article__description-wrapper {
    width: 290px;
  }

  .week-article__description-txt {
    margin-bottom: 40px;
  }

  .week-article__characteristics {
    margin-bottom: 55px;
  }

  .week-article__img {
    position: absolute;
    top: 150px; /*--временное значение, нужно определиться, относительно какого блока позиционировать--*/
    right: 0;
  }

  .week-article__price {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .week-article {
    width: 875px;
    padding-top: 125px;
    padding-bottom: 85px;
  }

  .week-article__header {
    position: relative;
    width: 295px;
  }

  .week-article__subtitle {
    position: absolute;
    top: 0;
    left: 60px;
  }

  .week-article__description-wrapper {
    width: 295px;
  }

  .week-article__img {
    top: 0;
  }
}
