@import "../variables.scss";

.week-article {
  width: 260px;
  margin: 0 auto;
}

.week-article__subtitle {
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.17em;
  color: $mint;
}

.week-article__description,
.week-article__characteristics {
  line-height: 1.6em;
  color: $greyish-brown;
}

.week-article__description {
  margin-bottom: 25px;
}

.week-article__characteristics {
  margin-bottom: 30px;
}

.week-article__img {
  margin-bottom: 25px;
}

.week-article__price {
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41em;
  color: $greyish-brown;
}
