@import "variables.scss";
@import "blocks/about-us.scss";
@import "blocks/article.scss";
@import "blocks/btn.scss";
@import "blocks/categories.scss";
@import "blocks/copyright.scss";
@import "blocks/description.scss";
@import "blocks/feedback.scss";
/*@import "blocks/footer.scss";*/
@import "blocks/form.scss";
/*@import "blocks/goods.scss";
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/map.scss";
@import "blocks/menu.scss";*/
@import "blocks/page-title.scss";
@import "blocks/social.scss";
@import "blocks/video-material.scss";
@import "blocks/week-article.scss";

body {
  padding: 0;
  margin: 0;
  font-family: $main-font;
  font-size: 15px;
}
