/*-----fonts-----*/
$main-font: "Open Sans", "Arial", sans-serif;

/*-----widths-----*/
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

/*-----colors-----*/
$background-grey: #f1f1f1;
$mint: #63d1bb;
$darker-mint: #56c3b2;
$blue-green: #149080;
$greyish-brown: #444444;
$light-grey: #ececec;
$grey-placeholder: #cccccc;
$icon-color: #d3d2d2;
