/*-----fonts-----*/
$main-font: "Open Sans", "Arial", sans-serif;

/*-----widths-----*/
$tablet-width: 768px;
$desktop-width: 1200px;

/*-----colors-----*/
$background-grey: #f1f1f1;
$mint: #63d1bb;
$darker-mint: #56c3b2;
$greyish-brown: #444444;
$grey-placeholder: #cccccc;
