/*-----fonts-----*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

$main-font: "Open Sans", "Arial", sans-serif;

/*-----colors-----*/
$background-grey: #f1f1f1;
$mint: #63d1bb;
$darker-mint: #56c3b2;
$greyish-brown: #444444;
$grey-placeholder: #cccccc;
